.thirdouterdiv{
    text-align: right;
    padding-right: 25px;
    
}

.secondouterdiv{
    background-color: rgb(77, 7, 143);
    color: rgb(207, 207, 207);
    
    padding-top: 20px;
}

.firstouterdiv{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
    
}

.logo{
    padding-right: 700px;
}

.contactbutton{
    background-color: rgb(238, 215, 5);
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    color: rgb(77, 7, 143)
}

.readbutton{
    background-color: rgb(238, 215, 5);
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    color: rgb(77, 7, 143);
    font-size: 20px;
}

.linkcolor{
    color: white;
}

.lightdiv{
    text-align: left;
    padding-left: 60px;
    font-weight: bold;
}

.insidelightdiv{
    color: rgb(202, 183, 7);
    font-size: 15px;
}

.completediv{
    background-color: whitesmoke;
    font-weight: bold;
    height:700px;
   
}

.innercompletediv{
    padding-left:300px;
   padding-right: 300px;

}

.shadow {
    -moz-box-shadow:    1px 1px 1px 1px whitesmoke;
    -webkit-box-shadow: 1px 1px 1px 1px whitesmoke;
    box-shadow:         1px 1px 1px 1px whitesmoke;
    height:320px;
    width: 950px;
    background-color: white;
    padding-top: 40px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;  
}
.h3fontweight{
    font-weight:bold;
}
.pfontsize{
    font-size: 13px;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 14px;
}

.fonts{
    font-size: 16px;
    font-weight: bold;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 10px;
}

.featdiv{
    color:rgb(202, 183, 7);
    padding-top: 60px;
    font-weight: bold;
}

.outer{
    padding-left:130px;
    padding-right: 130px;
    padding-bottom: 40px;
}

.innercol{
    text-align: left;
    padding-left: 110px;
    font-weight: bold;
    line-height: 10px;
}

.innercolumn{
    text-align: left;
    padding-left:180px;
    padding-right: 180px;
    font-weight: bold;
    padding-top: 30px;
}

.innerdiv{
    padding-top: 50px;
}

.partner{
    background-color: whitesmoke;
    color: rgb(77, 7, 143);
    padding-top: 20px;
    font-weight: bold;
}
.partnerimg{
    padding-left:30px;
    padding-right: 60px;
}

.blog{
    color: rgb(77, 7, 143);
    padding-top: 60px;
    font-weight: bold;
}
.blogimg{
    width:350px;
    height:250px;
    object-fit: cover;
}
.blogshadow {
    -moz-box-shadow:    1px 1px 1px 1px  rgb(228, 225, 225);
    -webkit-box-shadow: 1px 1px 1px 1px  rgb(228, 225, 225);
    box-shadow:         1px 1px 1px 1px  rgb(228, 225, 225);
    height:230px;
    width: 350px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
.powerbutton{
    background-color: rgb(238, 215, 5);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: bold;
    color: rgb(77, 7, 143);
}

.power2{
    background-color: rgb(191, 131, 247);
    border-radius: 5px;
    width: 100px;
    height: 30px;
    color: rgb(77, 7, 143);
}

.bold{
    font-weight: bold;
}

.continue{
    text-align: right;
    color: rgb(77, 7, 143);
}

.ready{
    background-color: whitesmoke;
    font-weight: bold;
    height:600px;
    padding-left: 300px;
    padding-right: 300px;
}
.aligntext{
    text-align: center;
}

.align2{
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
}
.readyshadow{
    -moz-box-shadow:    1px 1px 1px 1px  rgb(228, 225, 225);
    -webkit-box-shadow: 1px 1px 1px 1px  rgb(228, 225, 225);
    box-shadow:         1px 1px 1px 1px  rgb(228, 225, 225);
    height:340px;
    width: 500px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: white;
    padding-top:30px;
}

.readybutton{
    background-color:  rgb(77, 7, 143);
    width: 150px;
    height:45px;
    font-weight: bold;
    color: white;
    font-size: 20px;
}
.footerdiv{
    padding-top:100px;
    padding-left:180px;
    padding-right: 180px;
    padding-bottom: 200px;
}
.footerfont{
    color:rgb(202, 183, 7);
    font-weight: bold;
    text-align: left;
}
.foot{
    text-align: left;
}

.hr{
    color: rgb(238, 215, 5);
}

.icon{
    color: yellow;
    font-size: 100px;
    width: 50px;
}
